.playground {
  height: 512px;
  display: flex;
  gap: 8px;

  .codeEditor,
  .codeConsole {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 996px) {
  .playground {
    flex-direction: column;

    .codeEditor,
    .codeConsole {
      width: 100%;
      height: 50%;
    }
  }
}
