@use '../scss/palette';
@use '../scss/breakpoints';

.featureList {
  display: flex;
  gap: 8px;

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .menu li {
      text-align: center;
      white-space: nowrap;
    }
  }

  @media only screen and (max-width: breakpoints.$mobile) {
    .codeBlock {
      display: none;
    }
  }
}

.index {
  width: 80%;
  max-width: 864px;
  margin: 16px auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin-bottom: 16px;
    }
  }

  :global(.theme-code-block) {
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
