.liveCodeBlock {
  flex-grow: 1;
  display: flex;

  > * {
    width: 50%;
    height: 100%;
  }

  .inputEditor,
  .resultEditor {
    // hide obnoxious monaco overflow:
    // https://github.com/microsoft/monaco-editor/issues/29
    overflow: hidden;
  }

  .results {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--erde-black);

    #result {
      flex-grow: 1;

      &.outputMode {
        padding: 16px;
        .resultEditor {
          display: none;
        }
      }

      .resultEditor {
        height: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .liveCodeBlock {
    flex-direction: column;

    > * {
      width: 100%;
      height: 50%;
    }

    .results {
      border-left: none;
    }
  }
}
