@use '../scss/palette';
@use '../scss/breakpoints';

.liveCodeBlock {
  display: flex;
  border: 2px solid palette.$black;

  .inputEditor,
  .resultEditor {
    // hide obnoxious monaco overflow:
    // https://github.com/microsoft/monaco-editor/issues/29
    overflow: hidden;
  }

  .output {
    padding: 16px;
  }
}

.liveCodeBlock.horizontal {
  > * {
    height: 100%;
  }

  .results {
    border-left: 2px solid palette.$black;
  }
}

.liveCodeBlock.vertical {
  flex-direction: column;

  .inputEditor {
    flex-grow: 1;
  }

  > * {
    width: 100%;
  }
}
