@use '../theme/onedark';

.playground {
  width: 100%;
  height: 512px;
  display: flex;

  .codeEditor,
  .result {
    width: 50%;
    height: 100%;
  }

  .result {
    display: flex;
    flex-direction: column;

    color: white;
    background: #3d424d;

    .tabs {
      margin: 0;
      padding: 0;
      display: flex;
      user-select: none;
      list-style: none;

      li {
        flex: 1 1 0;
        margin: 0;
        padding: 8px 8px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        &:not(.active) {
          color: #727a8a;
          background: onedark.$black;
        }
      }
    }

    .console {
      flex-grow: 1;
      position: relative;

      .scroll {
        position: absolute;
        inset: var(--ifm-pre-padding) var(--ifm-pre-padding)
          var(--ifm-pre-padding) var(--ifm-pre-padding);
        overflow: scroll;

        display: flex;
        flex-direction: column;
        gap: 8px;

        pre {
          margin: 0;
          padding: var(--ifm-pre-padding);
          background: onedark.$black;

          &.error {
            color: onedark.$red;
          }
        }

        .codeBlock {
          margin: 0;

          pre {
            padding: 0;
          }

          code {
            // Apply background in case of horizontal overflow
            background: onedark.$black;
          }
        }
      }
    }
  }
}

@media (max-width: 996px) {
  .playground {
    flex-direction: column;

    .codeEditor,
    .result {
      width: 100%;
      height: 50%;
    }
  }
}
