@use '../scss/palette';

.tabs {
  display: flex;
  background-color: palette.$black;

  li {
    flex-grow: 1;

    button {
      width: 100%;
      height: 100%;
      padding: 16px;
      color: palette.$white;

      &[aria-selected='true'] {
        color: palette.$green;
      }
    }
  }
}
